body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.type {
    font-size: 18px;
}

.col-2 {
    width: 50%;
}

.color {
    color: #3bc4a1;
}

#header {
    background-color: #3bc4a1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__nav {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-lists {
    display: flex;
    flex-direction: row;
}

.nav-items {
    list-style: none;
    padding: 0 24px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.nav-pos {
    position: relative;
}

.nav-pos:hover {
    cursor: pointer;
}

.nav-pos:hover .hover {
    display: block;
}

.hover{
    position: absolute;
    top: 28px;
    left: -84px;
    width: 844px;
    height: 472px;
    background-color: #fff;
    display: none;
}

.nav__hover {
    display: flex;
}

.nav__hover-right {
    flex: 2;
}

.nav__hover-left {
    flex: 1;
    background-color: #f0fbf8;
}

.right__text {
    margin: 14px 0 10px 36px;
    color: #000;
    font-size: 14px;
}

.right__text-lists {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.right__text-lists:hover,
.right__text-lists:hover a {
    color: #3bc4a1;
    cursor: pointer;
}

.right__text-img {
    width: 46px;
    height: 44px;
}

.right__text-items {
    transition: 0.2s;
    font-size: 16px;
    color: #000;
}

.right__text-line {
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: 500;
}

.left__text {
    margin: 14px 0 10px 36px;
    font-size: 14px;
    color: #000;
}

.lists {
    padding: 0 0 30px 0;
}

.left__text-img {
    width: 46px;
    height: 44px;
}

.left__text-items {
    color: #000;
    font-size: 16px;
    transition: 0.2s;
}

.left__text-lists {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 0 0;
}

.left__text-lists:hover a {
    color: #3bc4a1;
}

.left__text-div {
    text-align: center;
}

.left__text-conect {
    color: #000;
    padding: 14px 40px;
    border: 1px solid #999;
    border-radius: 40px;
    transition: 0.2s;  
}

.left__text-conect:hover {
    color: #3bc4a1;
}

.nav-text {
    color: #fff;
}

.fas {
    font-size: 10px;
    padding: 0 6px;
}

.nav__right {
    line-height: 40px;
}

.nav__sign {
    padding: 0 10px;
}

.nav__sign:hover,
.nav-text:hover,
.text:hover {
    color: #fb7051;
}

.nav__conect {
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 40px;
    background-color: #fb7051;
}

.office__conect:hover,
.nav__conect:hover {
    opacity: 0.8;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 62px;
    width: 1140px;
}

.office {
    margin-top: 40px;
    width: 100%;
}

.office__text {
    font-size: 62px;
    line-height: 70px;
}

.office-type {
    margin: 48px;
    font-size: 18px;
}

.office__conect {
    background-color: #fb7051;
    padding: 16px 32px;
    margin: 0 20px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 50px;
}

.content__img {
    width: 100%;
}

.img__nav {
    padding: 20px;
}

.img__lists {
    display: flex;
    justify-content: space-between;
}

.content__sec {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 80px 0;
}

.sec__h2 {
    margin: 0 46px;
    text-align: left;
}

.sec__h2-content {
    font-size: 38px;
    line-height: normal;
}

.sec__text {
    color: #888;
}

.sec__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.sec__items {
    display: flex;
    align-items: center;
}

.size {
    font-size: 18px;
    padding: 16px 28px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #3bc4a1;
}

.sec__items-text {
    padding-left: 10px;
}

.sec__conect {
    padding: 14px 20px;
    font-size: 18px;
    color: #3bc4a1;
}

.sec__conect:hover {
    background-color: #fb7051;
    color: #fff;
    border-radius: 40px;
}

.content__awards {
    width: 100%;
}

.awards-name {
    margin-bottom: 40px;
}

.awards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.awards__items {
    margin: 0 24px;
}

.awards__img {
    min-height: 80px;
}

.awards__text-line {
    color: #888;
}

.footer__header {
    background-color: #3bc4a1;
    text-align: center;
    padding: 80px 0;
}

.footer__header-text {
    color: #b5e7e3;
    margin-bottom: 36px;
}

.footer__header-head {
    color: #fff;
    margin-bottom: 36px;
}

.footer__header-choice {
    padding: 14px 20px;
    margin: 0 10px;
    background-color: #fb7051;
    border-radius: 50px;
    line-height: 44px;
    font-size: 16px;
}

.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__items {
    width: 208px;
    padding: 15px;
}

.footer__items-name {
    color: #000;
    text-align: center;
    font-weight: 600;
}

.footer__items-text {
    color: #888;
    display: block;
}

.tip {
    padding: 10px 0 0 66px;
}

.tip2 {
    padding: 10px 0 0 50px;
}

.mail {
    color: #3bc4a1;
    text-decoration: underline #3bc4a1;
}

.font:hover,
.img:hover,
.footer__items-text:hover {
    opacity: 0.6;
}

.font {
    font-size: 20px;
    color: #888;
}

.footer__items-icon {
    display: flex;
    justify-content: space-evenly;
    width: 270px;  
    padding: 15px 0;
}

.footer__copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1140px;
    border-top: 1px solid #999;
}

.footer__copy-text {
    color: #888;
}

.footer-copy-list {
    display: flex;
    flex-direction: row;
}

.copy-text {
    color: #888;
    padding: 10px;
}

.footer__copy-items {
    list-style: none;
}

.copy-text:hover {
    color: #fb7051;
}